body{
    height: 100vh;
    background-image: url(arena.jpg);
    margin: 0px;
}
.container{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.scorpion{
    width: 200px;
    cursor: pointer;
}
.sub{
    width: 200px;
    cursor: pointer;
}
.vida_s{
    width: 100%;
    height: 20px;
    background-color: yellow;
    margin-bottom: 10px;
    display: flex;
}
.vida_sub_zero{
    width: 1275px;
    height: 20px;
    background-color: darkblue;
    display: flex;
    margin-bottom: 10px;
}
